<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <link rel="stylesheet" href="{% static 'css/single.css' %}" />
    <title>single</title>
  </head>
  <body>

    {% include "navbar.html" %}
    <main>
      <!-- Breadcrumbs -->
      <div class="breadcrumbs">
        <div class="container">
          <a href="#">Home</a>
          <a href="#">Shop</a>
          <span>T-Shirt</span>
        </div>
      </div>

       <!-- for feature in product.productFeatures.all  -->

      <!-- Single product -->
      <section class="single_product">
        <div class="container">
          <div class="single_product_wrapper">
            <div class="single_product_section">
              <div class="single_product_img">
                {% if product.image %}
                  <img src="{{ product.image.url }}" alt="" />
                {% else %}
                  <img src="{% static 'assets/images/store.png' %}" alt="" />

                {% endif %}

              </div>
            </div>
            <div class="single_product_section">
              <div class="single_product_right">
                <div class="single_product_body">
                  <h4 class="single_product_title">{{ product.title }}</h4>
                  <div class="price-row">

                    
                    <h3 class="single_product_price" style="{% if product.price != product.final_price %} text-decoration: line-through; opacity: 0.4; {% endif %}">${{ product.price }}</h3>
                    {% if product.price != product.final_price %}
                    <h3 class="single_product_price">${{ product.final_price }}</h3>
                    {% endif %}
                  </div>
                </div>
                <div class="single_product_sizes">
                  <p class="single_product_size {% if product.size == '0' %} selected {% endif %}">XXL</p>
                  <p class="single_product_size {% if product.size == '1' %} selected {% endif %}">XL</p>
                  <p class="single_product_size {% if product.size == '2' %} selected {% endif %}">L</p>
                  <p class="single_product_size {% if product.size == '3' %} selected {% endif %}">M</p>
                </div>
                <div class="single_product_features">
                  <h4 class="single_product_features_title">
                    Product features:
                  </h4>
                  {% if product.productFeatures %}
                    {% for feature in product.productFeatures.all %}
                    
                      <p class="single_product_features">{{ feature.title }}</p>

                    {% endfor %}
                  {% else %}
                    <p>no features</p>
                  {% endif %}
                </div>
                <div class="single_product_description">
                  <h4 class="single_product_description_title">Details:</h4>
                  <p>

                    {{ product.details }}
                  </p>
                </div>
                <div class="single_product_btn">
                  <button class="add_to_cart">Add to cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="new_products">
        <div class="container">
          <h2>New Products</h2>

          <div class="products">

          {% for similar_product in similar_products %}
            <!-- Product 1 -->

          <div class="product ">
            <div class="product_card">
              {% if similar_product.image %}
              <img src="{{similar_product.image.url}}" alt="Product-1" />
              {% else %}
              <img src="{% static 'assets/images/store.png' %}" alt="Product-1" />
              {% endif %}
              <div class="card_body">
                <div class="body_part">
                  <p class="title">{{ similar_product.title }}</p>
                  <p class="price" style="{% if similar_product.discount > 0  %} text-decoration: line-through; {% endif %}">{{ similar_product.price }}$</p>
                </div>
                <div class="body_part">
                  <p class="description"> Size {{similar_product.get_size_display }} </p>
                  <p class="final-price">{% if similar_product.price != similar_product.final_price %} {{ similar_product.final_price }}$ {% endif %}</p>

                </div>
                <div class="product_btn">
                  <a href="{% url 'detail_url' similar_product.id %}" class="product_button">View</a>
                  <p class="discount"> {% if similar_product.discount > 0 %} {{ similar_product.discount }}% {% endif %} </p>

                </div>
              </div>
            </div>
          </div>
            {% endfor %}
          </div>
        </div>
      </section>

      <!-- Comments -->
      <section class="comments">
        <div class="container">
          <h2>Comments:</h2>

          <div class="comments_wrapper">

            {% if product.comments.all %}

              {% for comment in product.comments.all %}
              <div class="comment">
                <div class="comment_part_l">
                  <img src="{% static 'assets/images/profile.svg' %}" alt="" />
                </div>
                <div class="comment_part_r">
                  <h5 class="comment_user_name">{{ comment.user }}</h5>
                  <p part="comment_text">
                      {{ comment.body }}
                  </p>
                  {% if comment.summary == '0' %}
                  <span class="suggest">{{ comment.get_summary_display }}</span>
                  {% elif comment.summary == '1' %}
                  <span class="not_suggest">{{ comment.get_summary_display }}</span>
                  {% elif comment.summary == '2' %}
                  <span class="" style="font-weight: bold;">{{ comment.get_summary_display }}</span>
                  {% else %}
                  <span class="" style="font-weight: bold;">undifined</span>
                  {% endif %}
                </div>
              </div>
              {% endfor %}

            {% else %}
              <h3> no Comments</h3>
            {% endif %}

          </div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="footer_wrapper">
          <div class="footer_part">
            <h3>About Us</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.Lorem,
              ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="footer_part">
            <h3>Categories</h3>
            <div class="list_wrapper">
              <ul>
                <li><a href="#">T-Shirt</a></li>
                <li><a href="#">T-Shirt</a></li>
                <li><a href="#">T-Shirt</a></li>
                <li><a href="#">T-Shirt</a></li>
              </ul>
            </div>
          </div>
          <div class="footer_part">
            <h3>Contact Us</h3>

            <p><span>Number:</span> +8999999999</p>
            <p><span>Gmail:</span> test@test.com</p>
            <p><span>Address:</span> USA</p>
          </div>
          <div class="footer_part">
            <div class="footer_logo">
              <img src="{% static 'assets/images/logo.svg' %}" alt="" />
            </div>
          </div>
        </div>
        <div class="under_footer">
          <div class="under_part">
            <a href="#"
              ><img
                src="{% static 'assets/images/icons/instagram-167-svgrepo-com.svg' %}"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="{% static 'assets/images/icons/twitter-boxed-svgrepo-com.svg' %}"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="{% static 'assets/images/icons/telegram-svgrepo-com.svg' %}"
                alt=""
            /></a>
          </div>
          <div class="under_part">Test test test test testtest test</div>
        </div>
      </div>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
